<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>SublistServlet</servlet-name>
    <servlet-class>com.imooc.page.servlet.SublistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JdbcSqlServlet</servlet-name>
    <servlet-class>com.imooc.page.servlet.JdbcSqlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SublistServlet</servlet-name>
    <url-pattern>/sublistServlet/SublistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JdbcSqlServlet</servlet-name>
    <url-pattern>/jdbcSqlServlet/JdbcSqlServlet</url-pattern>
  </servlet-mapping>
</web-app>